/mapserver/bikes.map
config.pyc
venv/
venv2/
data/
matplotlib-test/
mapnik-test/
mapserver/snapshots/
mapserver/data/
*.sqlite
.vscode/*
/junk
/mapserver/junk
/mapserver/bikes.png
/mapserver/bikes.tmp.png
/mapserver/log.txt
/mapserver/ms_error.txt
TODO.md
bike-counts.json