Fiona==1.7.5
Shapely==1.5.17
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
descartes==1.1.0
functools32==3.2.3-2
geopandas==0.2.1
mapnik==0.1
matplotlib==2.0.0
munch==2.1.1
numpy==1.12.1
pandas==0.19.2
pyparsing==2.2.0
pyproj==1.9.5.1
pyspatialite==3.0.1-alpha-0
pysqlite==2.8.3
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
subprocess32==3.2.7
wsgiref==0.1.2
